<nav>
    <details open class="nav">
        <summary>nav</summary>
        <span class="nav-list">
            <a href="/site/home.html">home</a>
            <a href="/site/about.html">about</a>
            <a href="/site/projects.html">projects</a>
        </span>
        <style>
            nav {
                margin-block-end: 1rem;

                details>summary {
                    display: inline-block;
                    width: 100%;
                }
                details>summary::before {
                    content: '+ ';
                }
                details[open]>summary::before {
                    content: '- ';
                }
                .nav-list {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    column-gap: 2ch;
                    margin-left: 2ch;
                }
                .nav-list>a {
                    width: fit-content;
                }
            }
            body[_nav-id="1"] nav .nav-list>a:nth-child(1) { color: black; background-color: white; text-decoration: none; }
            body[_nav-id="2"] nav .nav-list>a:nth-child(2) { color: black; background-color: white; text-decoration: none; }
            body[_nav-id="3"] nav .nav-list>a:nth-child(3) { color: black; background-color: white; text-decoration: none; }
            body[_nav-id="4"] nav .nav-list>a:nth-child(4) { color: black; background-color: white; text-decoration: none; }
            body[_nav-id="5"] nav .nav-list>a:nth-child(5) { color: black; background-color: white; text-decoration: none; }
            body[_nav-id="6"] nav .nav-list>a:nth-child(6) { color: black; background-color: white; text-decoration: none; }
            body[_nav-id="7"] nav .nav-list>a:nth-child(7) { color: black; background-color: white; text-decoration: none; }
            body[_nav-id="8"] nav .nav-list>a:nth-child(8) { color: black; background-color: white; text-decoration: none; }
            body[_nav-id="9"] nav .nav-list>a:nth-child(9) { color: black; background-color: white; text-decoration: none; }
        </style>
    </details>
</nav>
