<footer>
    <div>
        <h5 style="text-align: left; float: left; cursor: default;">
            <a href="https://github.com/tmaster-terrarian">github</a>
            |
            <a href="https://ko-fi.com/bscit">ko-fi</a>
            |
            <a href="https://twitter.com/bscit_dev">twitter</a>
            |
            <a href="https://tumblr.com/bscit">tumblr</a>
            |
            <a href="https://tmasterterrarian.itch.io">itch.io</a>
            |
            <a href="https://soundcloud.com/bscit">soundcloud</a>
            |
            <a href="https://youtube.com/@bscitdev">youtube</a>
            |
            <a href="https://twitch.tv/bscit_dev">twitch</a>
        </h5>
        <h5 style="text-align: right; float: right; cursor: default;">
            <a href="https://github.com/tmaster-terrarian/bscit.dev">source</a>
            |
            <a href="https://neocities.org/site/bscit">profile</a>
            |
            <a class="no-underline" href="/">do that again</a>
        </h5>
    </div>
</footer>
