<div class="sidebar">
    <!-- Navigation -->
    <details open>
        <summary>Navigation</summary>
        <nav class="navlink-container">
            <section>
                <ul class="capital">
                    <li><a href="/home">home</a></li>
                    <li><a href="/works">creative works</a></li>
                    <li><a href="/index/">index</a></li>
                </ul>
            </section>
            <section>
                <h2>software</h2>
                <ul class="capital">
                    <li><a href="/tools">tools</a></li>
                </ul>
            </section>
            <section>
                <h2>games</h2>
                <ul class="capital">
                    <li><a href="https://tmasterterrarian.itch.io/beebo-clone" target="_blank">Bee Yourself{REPLACE-EXTLINK-ICON}</a></li>
                </ul>
            </section>
            <section>
                <h2>elsewhere</h2>
                <ul class="capital">
                    <li><a href="https://github.com/tmaster-terrarian" target="_blank">github{REPLACE-EXTLINK-ICON}</a></li>
                    <li><a href="https://twitter.com/bscit_dev" target="_blank">twitter{REPLACE-EXTLINK-ICON}</a></li>
                    <li><a href="https://bscit.tumblr.com" target="_blank">tumblr{REPLACE-EXTLINK-ICON}</a></li>
                </ul>
            </section>
        </nav>
    </details>

    <!-- Site Tree (pc/tablet exclusive) -->
    <div class="mobile-hidden" id="site-tree-holder">{REPLACE-0}</div>
</div>
