<footer>
    <div>
        <h5 style="text-align: left; float: left; cursor: default;">
            <a href="https://github.com/tmaster-terrarian" class="no-underline" target="_blank">github</a>
            |
            <a href="https://ko-fi.com/bscit" class="no-underline" target="_blank">ko-fi</a>
            |
            <a href="https://twitter.com/bscit_dev" class="no-underline" target="_blank">twitter</a>
            |
            <a href="https://tumblr.com/bscit" class="no-underline" target="_blank">tumblr</a>
            |
            <a href="https://tmasterterrarian.itch.io" class="no-underline" target="_blank">itch.io</a>
            |
            <a href="https://soundcloud.com/bscit" class="no-underline" target="_blank">soundcloud</a>
            |
            <a href="https://youtube.com/@bscitdev" class="no-underline" target="_blank">youtube</a>
            |
            <a href="https://twitch.tv/bscit_dev" class="no-underline" target="_blank">twitch</a>
        </h5>
        <h5 style="text-align: right; float: right; cursor: default;">
            <a href="https://github.com/tmaster-terrarian/bscit.dev" class="no-underline" target="_blank">source</a>
            |
            <a href="https://neocities.org/site/bscit" class="no-underline" target="_blank">profile</a>
            |
            <a href="/" class="no-underline">do that again</a>
        </h5>
    </div>
</footer>
