<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bscit.dev &mdash; {{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/media/style.css">
    <link rel="stylesheet" type="text/css" href="/media/style-center.css">
</head>
<body {% if page.nav %}_nav-id="{{ page.nav }}"{% endif %}>
    <main>
    {% include nav.html %}
    {% include anchor_headings.html html=content h_min=2 h_max=3 generateId="true" %}
    {% if page.collection == "wiki" %}
        {% if page.backlinks.size >= 1 %}
            {% include backlinks.html %}
        {% endif %}
    {% endif %}
    </main>
    {% include footer.html %}
</body>
</html>
