<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
    {% if page.meta %}
        {% include {{ page.meta }} %}
    {% endif %}
</head>

<body>
    {% include header.html %}

    <main>
        {% include sidebar.html %}

        <div class="content">
            {% if page.game %}
                {% assign game=site.data.reviews[page.game] %}
                {% include widgets/game.html game=game %}
            {% endif %}
            {{ content }}
        </div>

        {% if page.after %}
            {% include {{ page.after }} %}
        {% endif %}
    </main>
    {% if page.post-main %}
        {% include {{ page.post-main }} %}
    {% endif %}

    {% include footer.html %}
</body>

</html>
