<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body>
    {%  include header.html %}

    <main>
        {% include sidebar.html %}

        <div class="content">
            {% if page.game %}
                {% assign game=site.data.reviews[page.game] %}
                {% include widgets/game.html game=game %}
            {% endif %}
            {{ content }}
        </div>

        {{ page.after }}
    </main>
    {{ page.post-main }}

    {% include footer.html %}
</body>

</html>
