html, body
{
  height: 100%;
}
body
{
  flex-grow: 1;
  overflow: auto;
  margin-left: 10px;
  margin-right: 10px;
  background-image: none;
  background-color: rgb(8, 14, 20);
}

body h4
{
  color: rgb(60, 91, 95);
  line-height: 0.5;
  font-size: 1.125em;
}

main
{
  flex-grow: 1;
}
