.table
{
  border-spacing: 0;
}

.covertd
{
  padding: 0;
  box-sizing: border-box;
  width: 204px;
}
.covertd a
{
  display: inline-block;
}

.titletd
{
  vertical-align: middle;
  width: 100%;
  padding: 0 8px;
}

#tracks
{
  display: flex;
  flex-direction: column;
  background-color: black;
  border-radius: 0 6px 6px 6px;
  padding: 2px 4px;
}

#games
{
  display: flex;
  flex-direction: column;
  background-color: black;
  border-radius: 6px;
  padding: 2px 4px;
}
#games .titletd
{
  padding: 8px;
  vertical-align: top;
}

blockquote
{
  margin-right: auto;
  margin-left: 0;
  padding-left: 2ch;
  border-left: 4px solid #53003b;
  box-sizing: border-box;
}

.song-cover, .game-cover
{
  border: 2px solid white;
}
.cover-rootkit
{
  border-color: #a4003b #53003b #a4003b #53003b;
}
.cover-Boneswarmerator
{
  border-color: #3a002e #3a002e black #3a002e;
}
.cover-NETWORK
{
  border-color: #3b7d4f #1b1f21 #3b7d4f #1b1f21;
}

.songholder, .gameholder
{
  background-color: #110214;
  border-radius: 3px;
  margin: 2px 0;
  width: 100%;
  height: 204px;
}

.gameholder
{
  height: min-content;
  /*background-color: rgb(8, 14, 20);*/
}

td h1
{
  text-align: left;
  margin: 0;
  padding: 2px 0;
}

.datespan
{
  color: #a4003b;
  padding: 0 2px;
  margin: 0;
}

svg
{
  fill: currentColor;
}

img
{
  filter: blur(0px);
  transition: filter 1s linear;
}
.blur
{
  filter: blur(30px);
}

.button-icon
{
  width: 20px;
  height: 20px;
}

.audio-player
{
  width: 100%;
  height: 20px;
}

.controls
{
  --player-button-width: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  width: 100%;
  margin-top: 10px;
}

.player-total-time, .player-time
{
  padding: 0 2px;
}

.volume-control
{
  width: min(200px, calc(100% - 8px));
  padding: 2px;
  padding-right: 6px;
  background-color: black;
  border-radius: 6px 6px 0 0;
}
.volume-control .controls
{
  margin: 0;
}

.player-button, .volume-icon
{
  background-color: transparent;
  color: white;
  border: 0;
  width: var(--player-button-width);
  height: var(--player-button-width);
  cursor: pointer;
  padding: 0;
}

.timeline, .volumerange
{
  -webkit-appearance: none;
  -moz-appearance: none;
  width: calc(100% - var(--player-button-width));
  height: .5em;
  background-color: #53003b;
  border-radius: 2px;
  cursor: pointer;
  background-size: 0 100%;
  background-image: linear-gradient(#a4003b, #a4003b);
  background-repeat: no-repeat;
}
.volumerange
{
  background-size: 75% 100%;
}

.timeline::-webkit-slider-thumb, .volumerange::-webkit-slider-thumb
{
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 0;
  height: 0;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: all .2s;
  background-color: #a4003b;
}

.timeline::-webkit-slider-thumb:hover, .volumerange::-webkit-slider-thumb:hover
{
  width: 1em;
  height: 1em;
  opacity: 1;
  background-color: #e5004c;
}

.timeline:hover::-webkit-slider-thumb, .volumerange:hover::-webkit-slider-thumb
{
  width: 1em;
  height: 1em;
  opacity: 1;
}

.timeline::-webkit-slider-runnable-track, .volumerange::-webkit-slider-runnable-track
{
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

@media screen and (max-width: 556px) {
  .covertd {
    display: none !important;
  }
  .songholder {
    height: max-content;
    padding: 0.75em 0;
  }
  .songholder table {
    width: 100%;
  }
}
@media screen and (max-width: 333px) {
  .player-total-time {
    display: none !important;
  }
  .titletd h1 {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 246px) {
  #tracks {
    border-radius: 0 0 6px 6px !important;
  }
}
