.tool
{
  margin-bottom: 1ch;
  width: 100%;
  display: block;
  background-color: rgba(20, 20, 20, 0.75);
  padding: 1em;
}
.tool:after
{ 
  content: " "; 
  display: block;
  clear: both;
}

.tool div
{
  float: left;
}

.tool div.preview
{
  width: 165px;
  position: relative;
}

.tool div.preview img
{
  width: 100%;
  box-sizing: border-box;
  border: 1px #c0c0c0 solid;
}

.tool div.info
{
  box-sizing: border-box;
  margin-left: 1em;
  width: calc(100% - 1em - 165px);
  h3 {
    margin-block-start: 0;
  }
}

.tool div.info hr
{
  border: none;
  height: 1px;
  background-color: #c0c0c0;
  margin-block-start: 0;
}

.tool div.info span:first-of-type p
{
  display: block;
  float: right;
  margin-top: 1rem;
  margin-block-start: 0;
}

