<link href="/tabs.css" rel="stylesheet" type="text/css" media="all">
<link href="/works.css" rel="stylesheet" type="text/css" media="all">
<script src="/js/audio-player-generator.js"></script>
<script src="https://code.jquery.com/jquery-latest.js"></script>
<!--[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script src="/js/works-art-getter.js"></script>
<script src="/js/audio-player.js"></script>
<script>
    let enabled = false;
    toggleAspect = function()
    {
        let button = document.getElementById("aspect-toggle");
        let imgs = document.getElementsByClassName("art-img");
        enabled = !enabled;
        if(enabled == true)
        {
            for (i = 0; i < imgs.length; i++) {
                imgs[i].classList.add("auto");
            }
            button.innerText = "Set images to square aspect"
        }
        else
        {
            for (i = 0; i < imgs.length; i++) {
                imgs[i].classList.remove("auto");
            }
            button.innerText = "Set images to original aspect"
        }
    };
</script>
<style>
    #tabholder {
        font-size: 13.3333px;
        margin-bottom: 1em;
    }
    #tabholder hr {
        height: 0;
        border: 1px inset;
        background: none;
    }
    figure {
        text-align: center;
        display: block;
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
        margin-inline-start: 0;
        margin-inline-end: 0;
    }
    figure .art-img {
        object-fit: cover;
        aspect-ratio: 1;
        width: 100%;
        filter: none;
        transition: filter 0.2s cubic-bezier(0, 0, 0.2, 1);
    }
    figure div {
        width: min(480px, 100%);
        margin: auto;
        overflow: hidden;
        border: 2px solid white;
        border-color: white black black white;
        padding: 0;
        line-height: 0;
    }
    figure .cw {
        display: inline-block;
        margin: 2px auto 4px auto;
        background-color: #00000088; /* 50% opacity */
        padding: 2px 4px;
        padding-bottom: 3px;
    }
    .blur {
        filter: blur(16px) !important;
    }
    figure .auto {
        aspect-ratio: auto;
    }
    .art-aspect-button
    {
        background-color: #37946e;
        color: white;
        border: none;
        font-family: inherit;
        font-size: 13.33333px;
    }
    .art-aspect-button:active
    {
        background-color: #287d64;
    }
</style>
