html, body
{
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #091722;
}
body
{
  font-family: Consolas, Cousine, "Courier New", monospace;
  font-size: 0.8125em;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-image: url("/legacy/images/beebo-bg.png");
  animation: bgmove;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  color: white;
}
body > *
{
  flex-shrink: 0;
}
body h1
{
  margin-bottom: 10px;
  text-align: center;
  padding: 4px;
}

button
{
  font-family: Consolas, Cousine, "Courier New", monospace;
}

a:link, a:visited
{
  color:#0c98f5;
  /*color:#f0415b;*/
  text-decoration:none;
}
a:hover
{
  color:#36c9ff;
  text-decoration:underline;
}

#container
{
  flex-grow: 1;
  margin: 0 auto;
  width: min(900px, 100%);
  background-color: rgba(14, 34, 45, 0.95);
}
#maintd
{
  width: 675px;
  vertical-align: top;
}
#menutd
{
  width: 225px;
  vertical-align: top;
}
@media screen and (max-width: 685px) {
    #maintd {
        width: 100%;
    }
    #menutd {
        display: none !important;
    }
}
#footer
{
  width: 100%;
}

@media screen and (max-width: 640px) {
    .bgSlider {
        display: none !important;
    }
}

.box
{
  margin: 5px;
  padding: 10px 15px;
  border: 1px outset #0c98f5;
}
.centerbox
{
  text-align: center;
}

.notextmargin
{
  padding: 10px;
}
.codesnippet
{
  padding: 5px;
  background-color: rgb(8, 14, 20);
}
.notextmargin p, h4, ul, li
{
  margin: 0;
}
.codesnippet p, h4, ul, li
{
  margin: 0;
}
.notextmargin ul, .codesnippet ul
{
  padding-left: 2ch;
  list-style-type: none;
}

.activepage
{
  font-weight: bold;
}

.mainColumn
{
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
  /*min-width: min(960px, 100%);*/
  width: auto;
  max-width: min(900px, 100%);
  text-align: center;
  background-color: rgba(14, 34, 45, 0.95);
}

div.textContainer
{
  text-align: center;
  background-color: rgba(14, 34, 45, 0.95);
  border: 1px outset #0c98f5;
}

div.textContainer p
{
  margin: 10px;
  display: inline-block;
  text-align: left;
}

.slidetextbox
{
  text-align: left;
  background-color: rgb(8, 14, 20);
  overflow: hidden;
  position: relative;
}
pauseicon
{
  position: absolute;
  display: block;
  top: 8px;
  right: 8px;
  background-color: black;
}
.slidetext
{
  display: inline-block;
  text-align: left;
  width: max-content;
  animation: slide 40s linear infinite;
}
.slidetext p
{
  display: inline-block;
  margin: 0 16ch;
}
.slidetext a:hover
{
  animation-play-state: paused;
}

.hida:link, .hida:visited
{
  color: white;
  text-decoration:none;
}
.hida:hover
{
  color:#36c9ff;
  text-decoration:underline;
}

@keyframes slide
{
  0%
  {
    transform: translatex(900px)
  }
  100%
  {
    transform: translatex(-100%)
  }
}

@keyframes bgmove
{
  0%
  {
    background-position: 0 0
  }
  100%
  {
    background-position: -320px 320px
  }
}

.slider {
  -webkit-appearance: none; -moz-appearance: none;
  width: 100%;
  height: 10px;
  background: rgb(8, 14, 20);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; -moz-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: #0c98f5;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: #0c98f5;
  cursor: pointer;
}
