<style>
    .cover {
        img {
            width: 100%;
            object-fit: cover;
            aspect-ratio: 3/1;
        }
        .status-holder {
            display: block;
            position: absolute;
            top: 0;
            left: 1.45em;
            cursor: default;
            h1 {
                margin: 0;
                font-weight: normal;
                color: rgba(204, 204, 204, 0);
            }
            span {
                font-size: 14px;
            }
        }
    }

    .content {
        position: relative;
    }

    .buttons {
        grid-area: after;
        max-width: min(calc(185px + 1em), calc((100vw - 38rem - 6rem) / 2));

        section {
            cursor: default;
            margin-top: 1em;
            margin-left: 1em;
        }
        iframe:not(.navlink-ads), img.imgg {
            display: inline-block;
            width: min(88px, calc(50% - 4.5px));
            height: auto;
            aspect-ratio: 88/31;
        }
        div {
            a {
                display: block !important;
                width: min(200px, 100%);
                img {
                    width: 100%;
                }
            }
        }
    }
</style>
