<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#FE3C49" />

{% include legacy/font-stylesheets.html %}

<link href="{{ '/legacy/assets/base.css' | relative_url }}" rel="stylesheet" type="text/css" media="all">
<title>{{ page.title | downcase | append: ' - ' }}{{ site.title }}</title>

{% seo title=false %}

<link rel="icon" type="image/x-icon" href="{{ '/legacy/images/favicon.ico' | relative_url }}">

<script type="module">
    import * as gen from "{{ '/legacy/js/site-tree-gen.js' | relative_url }}";
    import CookieManager from "{{ '/legacy/js/CookieManager.js' | relative_url }}";

    window.addEventListener("DOMContentLoaded", event => {
        document.getElementById("site-tree-holder").innerHTML = gen.generate([
            gen.directory_file("posts/", [
                {% for category in site.categories %}
                gen.directory("{{ category[0] }}/".toLowerCase(), [
                    {% for post in category[1] %}
                    gen.file("{{ post.url }}".match(/[^\/]+\.\w+$/)[0]),
                    {% endfor %}
                ]),
                {% endfor %}
            ]),
            gen.file("index/"),
            gen.file("tools/"),
            gen.file("works/"),
        ]);
    });

    window.addEventListener("beforeunload", event => {
        if(document.visibilityState === "hidden")
        {
            let element = null, index = 0;
            while((element = document.getElementById(`site-tree_${index}`)) !== null)
            {
                CookieManager.setStorage(CookieManager.StorageType.local, `site-tree_${index}`, element.hasAttribute("open") ? "open" : "closed");
                index++;
            }
        }
    });
</script>
