---
---

html {
    --bscit-main-foregroundColor: rgb(204, 204, 204);

    --bscit-main-foregroundColor-lighter: rgb(220, 220, 220);

    --bscit-main-backgroundColor: rgb(24, 24, 24);
    --bscit-main-backgroundColor-secondary: rgb(32, 32, 32);

    --bscit-main-width: 1360px;

    --bscit-main-content-width: 38rem;

    color-scheme: dark;

    background-color: var(--bscit-main-backgroundColor);
}

@font-face {
    font-family: "Consolas";
    src:
        local("Consolas"),
        url("./consola.ttf");
}

@font-face {
    font-family: "Consolas";
    src:
        local("Consolas Bold"), local("Consolas-Bold"),
        url("./consolab.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Consolas";
    src:
        local("Consolas Italic"), local("Consolas-Italic"),
        url("./consolai.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Consolas";
    src:
        local("Consolas Bold Italic"), local("Consolas-Bold-Italic"),
        url("./consolaz.ttf");
    font-weight: bold;
    font-style: italic;
}

$font-mono: "Consolas", Cuisine, monospace;
$font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-code: Menlo, Monaco, "Consalas", Cuisine, monospace;

body {
    position: relative;

    color: var(--bscit-main-foregroundColor);
    /* background-color: var(--bscit-main-backgroundColor-secondary); */

    font-family: $font-mono;

    margin: 0 0 0.5rem;

    font-size: 15px;

    overflow-x: hidden;
}

flex {
    display: flex;
}

::selection {
    background: #135564;
    opacity: 0.5;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*, :after, :before {
    box-sizing: border-box;
}

details>summary {
    cursor: default;
}

details>summary::marker {
    user-select: none;
}

a:visited, a {
    color: inherit;
}

.no-underline {
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: underline;
}

img.emoji {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
}

hr {
    border: none;
    height: 1px;
    background: #383838;
}

header {
    padding: 20px calc(1em + 1rem);

    border-bottom: 1px solid #383838;
    box-sizing: content-box;

    a {
        text-decoration: none;
    }

    a:hover {
        color: white;
    }
}

footer:not(.ignore) {
    padding: 20px 1rem;
    width: 100%;

    border-top: 1px solid #fe3e4b80;

    position: absolute;
    top: max(100%, 100vh);

    background-color: #FE3C4940;

    >div:first-of-type {
        width: min(100%, var(--bscit-main-width));
        margin: auto;
    }
}

main {
    display: grid;
    gap: 2rem;

    grid-template-areas:
        "before"
        "content"
        "after";

    grid-template-columns: min(100%, var(--bscit-main-content-width));

    justify-content: center;
    margin-inline: auto;
    margin-block-start: 1em;
    max-width: var(--bscit-main-width);
    padding-inline: 1rem;
    width: 100%;

    .sidebar {
        grid-area: before;

        details {
            position: relative;

            summary {
                cursor: default;
            }

            .navlink-container {
                margin-left: 1em;
                line-height: 22px;

                section {
                    float: left;
                    min-height: 2em;

                    h2 {
                        margin: 20px 0;
                    }
                }
            }

            nav.navlink-container {
                font-family: $font-sans-serif;
                section {
                    margin-bottom: 40px;
    
                    ul {
                        list-style-type: none;
                        margin: 0px;
                        padding: 0px;
                        
                        img.ext {
                            height: 1em;
                            position: relative;
                            top: 3px;
                            user-select: none;
                        }
                    }
                }
            }
        }
    }

    .content {
        font-family: $font-sans-serif;
        grid-area: content;

        ul, ol {
            line-height: 22px;
        }

        img {
            max-width: var(--bscit-main-content-width);
        }

        .h-auto {
            height: auto;
        }

        .w-75 {
            width: 75%;
        }
        .w-50 {
            width: 50%;
        }
        .w-25 {
            width: 25%;
        }

        img.left {
            float: left;
            margin-inline-end: 1ch;
        }
        img.right {
            float: right;
            margin-inline-start: 1ch;
        }
    }
}

.notextmargin {
    margin: 0;
    cursor: default;

    line-height: normal;

    details>summary {
        list-style: none;

        .ellipsis {
            display: inline;
        }

        .arrow {
            display: none;
        }
    }

    details[open]>summary {
        color: white;

        .ellipsis {
            display: none;
        }

        .arrow {
            display: inline;
        }
    }

    details>summary::-webkit-details-marker {
        display: none;
    }

    ul, li {
        margin: 0;
        list-style-type: none;
    }

    ul {
        padding-left: calc(2ch - 1px);

        border-left: 1px transparent solid;

        transition: border-left-color 0.2s;
    }

    li, summary {
        transition: color 0.12s, background-color 0.1s;
        position: relative;
        text-wrap: nowrap;
    }

    summary {
        margin-left: 1ch;
    }

    li:hover, summary:hover {
        background-color: #121212;
        color: white;
    }

    li:active, summary:active {
        background-color: #101010;
    }

    .path {
        color: #808080;
    }

    .path-icon {
        height: 16px;
        position: absolute;
        top: 50%;
        right: calc(100% + 1px);

        transform: translate(0, -50%);

        cursor: pointer;

        user-select: none; /* standard syntax */
        -webkit-user-select: none; /* webkit (safari, chrome) browsers */
        -moz-user-select: none; /* mozilla browsers */
        -khtml-user-select: none; /* webkit (konqueror) browsers */
        -ms-user-select: none; /* IE10+ */

        opacity: 0.5;

        transition: opacity 0.15s;
    }

    .path-icon:hover {
        opacity: 1.0;
    }
}

.site-tree {
    overflow-x: scroll;
    max-width: calc((100vw - var(--bscit-main-content-width) - 6rem) / 2);

    font-family: $font-mono;

    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */

    padding-left: 1em;

    .navlink-container {
        margin-left: 0 !important;
        min-width: max-content;
        width: 100%;
    }

    .navlink-container:hover ul {
        border-left-color: #383838;
    }
}

.site-tree::-webkit-scrollbar {
    display: none;
}

.sidebar .site-tree details>summary
{
    cursor: pointer;
}

nav.post-navigation {
    flex-direction: column;

    .widget:last-child {
        margin-block-end: 0;
    }
}

.widget {
    background-color: #1f1f1f;
    /* border: 1px #383838 solid; */
    border-radius: 0.5em;
    padding: 1em;

    box-shadow: inset 0 1px 0 1px rgba(255, 255, 255, 0.025), 0 5px 10px 5px rgba(0,0,0,0.05);

    display: block;

    width: 100%;

    margin-block-end: 1em;

    overflow-x: hidden;
    width: 100%;

    transition-property: background-color, border-color;
    transition-duration: 0.15s;

    svg {
        height: 1em;
        display: inline-block;
        vertical-align: middle;
    }

    span.tags {
        font-family: $font-mono;
    }
}

.w-fit-content {
    width: fit-content;
}

.d-inline-block {
    display: inline-block;
}

.margin-0 {
    margin: 0;
}

a.widget {
    text-decoration: none;
}

a.widget:hover {
    background-color: #242424;
    border-color: #4b4b4b;
}

a.widget:active {
    background-color: #282828;
    border-color: #4f4f4f;
    transition-duration: 0.05s;
}

.ppl {
    padding-left: 1em;
}

.c-default {
    cursor: default;
}

.c-pointer {
    cursor: pointer;
}

blockquote.md, blockquote.prompt-tip, blockquote.prompt-info, blockquote.prompt-warning, blockquote.prompt-danger {
    background-color: #1f1f1f;
    background-blend-mode: lighten;
    border-left: 4px #383838 solid;
    border-radius: 4px;
    margin-inline: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: calc(20px - 4px);
}

%blockquote-prompt {
    --img: url("/images/heroicons-tip.svg");
    --color: var(--bscit-main-foregroundColor-lighter);

    border-color: var(--color);

    >:first-child {
        position: relative;
        left: 3ch;
    }
    >:first-child::before {
        position: absolute;
        content: var(--img);
        width: 20px;
        left: calc(-3ch - 2px);
        display: block;
        top: 1px;
    }
    >:first-child::first-line {
        color: var(--color);
        font-weight: 600;
        font-size: 1.15em;
    }
}

blockquote.prompt-tip {
    @extend %blockquote-prompt;
    --img: url("/images/heroicons-tip.svg");
    --color: rgb(27, 240, 98);
    background-color: rgb(from var(--color) r g b / 0.04);
}
blockquote.prompt-info {
    @extend %blockquote-prompt;
    --img: url("/images/heroicons-info.svg");
    --color: rgb(63, 97, 250);
    background-color: rgb(from var(--color) r g b / 0.07);
}
blockquote.prompt-warning {
    @extend %blockquote-prompt;
    --img: url("/images/heroicons-warning.svg");
    --color: orange;
    background-color: rgb(from var(--color) r g b / 0.04);
}
blockquote.prompt-danger {
    @extend %blockquote-prompt;
    --img: url("/images/heroicons-error.svg");
    --color: rgb(240, 20, 64);
    background-color: rgb(from var(--color) r g b / 0.08);
}

table.md {
    background-color: #1f1f1f;
    margin-block: 1em;
    margin-inline: 1em;
    border-spacing: 5px;
    width: calc(100% - 2em);
    table-layout:auto;

    thead {
        background-color: #38383880;
    }

    td, th {
        padding: 4px;
    }
}

.task-list-item-checkbox {
    --opacity: 0.5;
    --content: url("/images/heroicons-circle.svg");
    --saturation: 100;

    appearance: none;
    content: var(--content);
    height: 1rem;
    width: 1rem;
    margin: 2px 0;
    margin-right: 4px;
    vertical-align: top;
    filter: sepia(100%) hue-rotate(180deg) saturate(var(--saturation)) brightness(var(--opacity));

    cursor: pointer;

    user-select: none;
}

.task-list-item-checkbox:checked {
    --content: url("/images/heroicons-circle-check.svg");
    --saturation: 800;
    --opacity: 0.85;
}

.task-list-item-checkbox:disabled {
    /* --opacity: 0.35; */

    cursor: default;
}

.task-list-item-checkbox:hover:not(:disabled) {
    --opacity: 0.6;
}

.task-list-item-checkbox:checked:hover:not(:disabled) {
    --saturation: 500;
    --opacity: 0.9;
}

.task-list-item-checkbox:active:not(:disabled) {
    --opacity: 0.75;
}

.task-list-item-checkbox:checked:active:not(:disabled) {
    --saturation: 400;
    --opacity: 1;
}

code, pre, kbd, samp, code * {
    font-family: $font-code;
}

p code:not(.filepath) {
    font-size: 13px;

    background-color: #242424;
    border: 1px #383838 solid;
    border-radius: 4px;
    color: var(--bscit-main-foregroundColor-lighter);

    padding: 0 2px;
}

p code.filepath {
    font-weight: bold;
}

pre {
    font-size: 13px;

    background-color: #1f1f1f;
    border: 1px #383838 solid;
    border-radius: 0.5em;
    padding: 0.5em;

    overflow-x: scroll;
    scrollbar-gutter: 1em;
}

.muted {
    color: #808080;
}

ul.task-list {
    list-style-type: none;
    padding-inline-start: 2ch;
}

li ul.task-list {
    border-left: 1px #383838 solid;
    padding-inline-start: calc(2ch - 1px);
}

li::marker {
    color: #676767;
}

cite:before {
    content: "- ";
}

dt {
    margin-block-start: 0.5em;
    font-weight: bold;
    flex-wrap: wrap;
}
dt::after {
    content: ":";
    color: #808080;
}

dd {
    margin-left: 1ch;
}

.align-baseline {
    align-items: baseline;
}

.block {
    display: block;
}

.nowrap {
    white-space: nowrap;
}

.flex-shrink {
    flex-shrink: 1;
}

.footnote {
    margin-left: 1px;
}

.capital {
    text-transform: capitalize;
}

.mobile-hidden {
    display: none;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

@media (max-width: 320px) {
    main .sidebar details nav.navlink-container section {
        width: 100%;
    }
}

@media (max-width: 500px) and (min-width: 321px) {
    main .sidebar details nav.navlink-container {
        section {
            width: calc(50% - 1em);
        }
        section:nth-child(2n + 1) {
            clear: left;
        }
    }
}

@media (max-width: 650px) and (min-width: 501px) {
    main .sidebar details nav.navlink-container {
        section {
            width: calc(33% - 1em);
        }
        section:nth-child(3n + 1) {
            clear: left;
        }
    }
}

@media (max-width: 990px) and (min-width: 651px) {
    main .sidebar details nav.navlink-container section {
        width: calc(25% - 1em);
    }
}

@media (max-width: 990px) {
    main .sidebar details nav.navlink-container section {
        margin: 0 1em 1em 0;
    }
    main .sidebar details nav.navlink-container section:first-of-type {
        margin-top: 1rem;
    }
}

@media (min-width: 991px) {
    .mobile-hidden {
        display: initial;
    }

    footer:not(.ignore) {
        top: max(calc(100% + 1rem), 100vh);
    }

    main .sidebar details nav.navlink-container {
        margin-top: 1em;
    }

    main {
        grid-template-areas: "before content after";
        grid-template-columns: [before] 1fr [content] var(--bscit-main-content-width) [after] 1fr;

        margin-block-end: 2rem;

        .sidebar {
            /*height: calc(100vh - 1rem);
            overflow-y: scroll;

            position: sticky;
            top: 0.5rem;*/

            -ms-overflow-style: none;  /* Internet Explorer 10+ */
            scrollbar-width: none;  /* Firefox */

            details {
                display: flex;
                flex-direction: column;
                .navlink-container section {
                    float: none;
                    width: auto;
                }
            }
        }

        .sidebar::-webkit-scrollbar {
            display: none;
        }
    }
}

