nav.post-navigation {
    flex-direction: column;

    >a:last-child {
        margin-block-end: 0;
    }

    >a {
        background-color: #1f1f1f;
        border: 1px #383838 solid;
        border-radius: 0.5em;
        padding: 1em;

        display: block;

        width: 100%;

        margin-block-end: 1em;

        text-decoration: none;
        overflow-x: hidden;
        width: 100%;

        transition: background-color 0.15s, border-color 0.15s;

        h3 {
            width: fit-content;
            display: inline-block;
            margin: 0;
        }

        span.date {
            padding-left: 1em;
        }

        span.tags {
            
        }
    }

    a:hover {
        background-color: #242424;
        border-color: #4b4b4b;

        h3 {
            text-decoration: underline;
        }
    }
}
