/* Must start with ".site-box". Change how your website will appear on main nekoweb site: https://lune.dimden.dev/405a44b7e5.png */
.site-box {
	background-color: #1f1f1f;
	background-image: none;
    border-radius: 0.5em;
    box-shadow: inset 0 1px 0 1px rgba(255, 255, 255, 0.025), 0 5px 10px 5px rgba(0,0,0,0.05);
    text-align: center;
    font-size: 12px;
    font-family: "Consolas", "Cuisine", "Courier New", monospace;
}
.site-box > a > p { /*site*/
    color: #ccc;
    font-weight: bold;
}
.site-box > a > span { /*index title*/
    color: #ccc;
}

/* Style for your 'Follow on Nekoweb' button (<iframe src="https://nekoweb.org/frame/follow" frameborder="0" width="170" height="28"></iframe>) */
.follow {

}
