.tool:after
{ 
  content: " "; 
  display: block;
  clear: both;
}

.tool div
{
  float: left;
}

.tool div.preview
{
  width: 160px;
  position: relative;
}

.tool div.preview img
{
  width: 100%;
  box-sizing: border-box;
  border: 1px #383838 solid;
  border-radius: 0.5em;
}

.tool div.info
{
  box-sizing: border-box;
  margin-left: 1em;
  width: calc(100% - 1em - 160px);
  h3 {
    margin-block-start: 0;
  }
}

.tool div.info hr
{
  border: none;
  height: 1px;
  background-color: #383838;
  margin-block: 0;
}

.tool div.info span:first-of-type p
{
  display: block;
  float: right;
  margin-top: 1rem;
  margin-block: 0;
}

