:root {
    background-color: #101010;
    padding: 0;
}
body {
    display: grid;
    grid-template-areas: '. body .' '. footer .';
    grid-template-columns: 1fr min(100vh, 120ch) 1fr;
    grid-template-rows: 1fr 3rlh;
    min-height: 100vh;
    width: 100vw;
}
body>main {
    grid-area: body;
    background-color: black;
    padding: 1rem 2ch 0;

    >p {
        max-width: 80ch;
    }
}
body>footer {
    grid-area: footer;
    background-color: black;
    padding: 1rlh 2ch;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    row-gap: 1rlh;

    >div {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        column-gap: 2ch;
    }
}
